$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";
#logo{
  color: #fff;
  float : left;
  font_size: 1.7em;
 
  text-transform: uppercase;
  letter-spacing:-1px;
  font-weight:bold;
}
#logo:hover{
  color: #fff;
  text-decoration: none;
}

.center{
  text-align: center;
}
.jumbotron{
  background-image:asset-url('new_cover.jpg');
  background-size: cover;
  height: 550px;
}
.jumbotron h1 {
  color: #000;
  text-align: center;
  margin-bottom:30px;
  letter-spacing: -1px;
  font-weight: bold;
}
.btn-xlarge{
  font-size: 1.7 em ;
  
}

footer {

margin-top: 45px;

padding-top: 5px;

border-top: 1px solid #eaeaea;

color: #777;

}

footer a:hover {

color: #fff;

}

footer small {

float: left;

}

footer ul {

float: right;

list-style: none;

}

footer ul li {

float: left;

margin-left: 15px;

}